

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inicio config css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

html, body{

    min-height: 100vh;
    overflow-x: hidden;
    color: #101828;

}

/* Fim reset css */


body{
    background-color: rgb(202, 195, 195);

}

.conteiner-principal{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 1.5%;
    justify-items: center;
    }

h1{
    position: absolute;
    justify-content: center;
    font-size: 200%;
    top:10%;
    left: 35%;
}

.adversario{
    display: flex;
    background-color:#D84B36 ;
    width: 13%;
    padding: 0.4%;
    align-items: center;
    justify-content: center; 
    margin-left: 81%;
    margin-top: 5%;
    border-radius: 20px;
    color: white;
    border: solid 4px rgb(255, 161, 161);
}

.pokemon-selecionado{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    width: 46vw;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.30);
    margin-left: 7%;
}

.pokemon-selecionado img{
    position: relative;
    width: 36%;
    right: 5%;
}

.status-container{
    display: flex;
    width: 50%;
    height: 90%;
}


.status-container h2{
    padding-bottom: 1%;
    font-size: 18px;

}



.slots-ataque-selecionado{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    width: 35vw;
    border-radius: 25px;
    align-items: center;  
    gap: 3%;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.30);
}

.slots-ataque-selecionado h3{
    margin-top: 5%;
    margin-bottom: 3%;
}

.button-ataque-selecionado{
    display: flex;
    background-color: rgb(236, 236, 236);
    border: solid 2px #000000 ;
    border-radius: 15px;
    height: 13%;
    width: 80%;
    align-items: center;
    font-size: 108%;
    
}

.ataque{
    display: flex;
    align-items: center;
    width: 100%;  


}

.ataque img{
    width: 1.6vw;
    margin-left: 2%;
    margin-right: 3%;
}




.button-troca {
    display: grid;
    grid-template-columns: repeat(4, 9rem);
    gap: 5px;
    align-items: center;
    justify-content: start;
    margin-top: 6%;

}

.button-troca button{
    display: flex;
    background-color: #979797;
    width: 90%;
    height: 180%;
    align-items: center;
    padding-left: 10px;
    border-radius: 15px 15px 0px 0px;
    font-size: 14px;
}


.container-principal-pokemon{
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #b6b0b0;
    width: 80%;
    height: 34vh;
    border-radius: 10px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.30);

}   



.pesquisa {
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: space-evenly;
    gap: 40%;
    margin-top: 2%;
}

.pesquisa input{
    border: solid 2px #000000;
    border-radius: 100px;
    padding: 5px 5px 5px 18px;
    width: 12vw;
    height: 4.5vh;
    background-color: #e7e7e7c9;

}   

.pesquisa button{
    background-color:  #2D305F;
    width: 9vw;
    height: 5vh;
    border-radius: 100px;
    color: aliceblue;
    border: solid 4px  rgb(186, 161, 255);

}

.cards-escolha{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    align-items: center ;
    justify-items: center;
}


.card-pokemon{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    height: 80%;
    width: 75%;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.25);
}

.card-pokemon img{
    width: 50%;
}