* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #F8F9FB;
}

.tab-buttons {
    margin-top: 9vh;
    padding: 15px 40px;
    height: 91vh;
    width: 100%;
}

.tab-btn {
    padding: 5px;
    height: 6vh;
    width: 150px;
    background-color: #cacaca;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.tab-btn:hover {
    transition: 0.5s;
    background-color: #b0b0b0;
}

.tab-btn.active {
    background-color: #8956B9;
    color: #000;
}

.tab-contents {
    height: 93%;
    width: 100%;
    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.content {
    height: 100%;
    width: 100%; 

    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    display: none !important;
    opacity: 0;
}

/* Inicio Animações */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* 4. Aplicamos a animação quando a aba NÃO estiver com 'hidden' */
.content:not(.hidden) {
    animation: fadeIn 0.4s ease-out;
}
/* Fim Animações */


/* INICIO ABA DASHBOARD */
#DashGeral {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2.3fr;
    height: 100%;
    gap: 30px;
    padding: 10px;
}

.kpi-grande {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: 100%;
    padding: 0px 10px;
}

.card-info {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-pequena {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.kpi {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM ABA DASHBOARD */

/* INICIO ABA LISTA ALUNOS */

#ListAlunos {
    padding: 10px 15px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.info-aluno {
    background-color: #e0e0e0;
    height: 100%;
    padding: 0px 30px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    align-items: center;
    gap: 15px;
    
    transition: 0.5s;
}

.imagem-perfil {
    background-color: #e2e1e1;
    border: 4px solid #A37ACC;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 80px;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
}

.btn-verPerfil {
    background-color: #A37ACC;
    border-radius: 15px;
    color: white;
    padding: 7px 10px;
    transition: 0.5s;
    gap: 5px;
}

.btn-verPerfil:hover {
    background-color: #8956B9;
     transition: 0.5s;
     cursor: pointer;
}