* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #F8F9FB;
}

.tab-buttons {
    margin-top: 9vh;
    padding: 15px 40px;
    height: 91vh;
    width: 100%;
}

.tab-btn {
    padding: 5px;
    height: 6vh;
    width: 150px;
    background-color: #cacaca;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.tab-btn:hover {
    transition: 0.5s;
    background-color: #b0b0b0;
}

.tab-btn.active {
    background-color: #8956B9;
    color: #000;
}

.tab-contents {
    height: 93%;
    width: 100%;
    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.content {
    height: 100%;
    width: 100%; 

    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    display: none !important;
    opacity: 0;
}

/* Inicio Animações */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* 4. Aplicamos a animação quando a aba NÃO estiver com 'hidden' */
.content:not(.hidden) {
    animation: fadeIn 0.4s ease-out;
}
/* Fim Animações */


/* INICIO ABA DASHBOARD */
#DashGeral {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 2.7fr);
    height: 100%;
    gap: 30px;
    padding: 10px;
}

.kpi-grande {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 100%;
    padding: 0px 10px;
}

.card-info {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    border-top: 3px solid #8956B9;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-info h4 {
    text-transform: uppercase;
    color: #b0b0b0;
    font-weight: 450;
    align-self: flex-start;
}

.card-info strong {
    font-size: 40px;
    font-weight: 500;
}

.grafico {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.kpi-pequena {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    padding: 15px;
    

    display: flex;
    gap: 10px;

}

.kpi-pequena h3 {
    color: #b0b0b0;
    font-weight: 500;
}

.card-alunoRisco {
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 8px;
}

/* FIM ABA DASHBOARD */


/* INICIO ABA LISTA ALUNOS */

#ListAlunos {
    padding: 10px 15px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 25px;
}

.info-aluno {
    background-color: #FFFFFF;
    height: 100%;
    padding: 0px 30px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    align-items: center;
    gap: 20px;
    
    transition: 0.5s;
}


.info-aluno:hover {
    transition: 0.5s;
    border: 0.5px solid #A37ACC;
    box-shadow: 0 2px 3px #A37ACC;
}

.imagem-perfil {
    background-color: #e2e1e1;
    border: 4px solid #A37ACC;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 80%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
}

.imagem-perfil img {
    height: 100%;
    width: 100%;
}

.nome {
    height: 77%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome small {
    font-size: 1.2vw; /*15px*/
    color: #b0b0b0;
    font-weight: 400;
}

.nome strong {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.35vw; /* 18px */
    align-self: flex-end;
}

.tx-vitoria {
    height: 77%;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tx-vitoria small {
    font-size: 15px;
    color: #b0b0b0;
    font-weight: 400;
}

.tx-vitoria strong {
    font-size: 30px;
    letter-spacing: 3px;
    align-self: flex-end;
}

.qtd-pontos {
    height: 77%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qtd-pontos small {
    font-size: 15px;
    color: #b0b0b0;
    font-weight: 400;
}

.qtd-pontos strong {
    font-size: 30px;
    letter-spacing: 3px;
    align-self: flex-end;
}

.qtd-camp {
    height: 77%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qtd-camp small {
    font-size: 15px;
    color: #b0b0b0;
    font-weight: 400;
}

.qtd-camp strong {
    font-size: 30px;
    letter-spacing: 3px;
    align-self: flex-end;
}

.btn-verPerfil {
    background-color: #A37ACC;
    border-radius: 15px;
    color: white;
    padding: 7px 10px;
    transition: 0.5s;
    gap: 5px;
}

.btn-verPerfil:hover {
    background-color: #8956B9;
     transition: 0.5s;
     cursor: pointer;
}